@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
.font-sora {
  font-family: "Sora", serif;
}
.smooth {
  transition: all 400ms ease-in-out 0s;
}
.font-roboto {
  font-family: "Roboto", serif;
}
.header-sticky .head-action a:hover {
  background-color: black;
  color: white;
}

.expmpl-apps li:last-child .list-points {
  height: auto;
}
.step-card:nth-child(2) .step-line {
  /* background-image: url("../images/step-card-bg-large.svg"); */
}
.imggrdnt::after {
  background: rgb(0, 0, 0);
  background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.timeline-custom {
  margin-left: 1.6rem;
}
.timeline-block {
  background: linear-gradient(
      to bottom,
      rgb(255, 255, 255) 0%,
      rgba(0, 0, 0, 0) 5%
    ),
    linear-gradient(to top, rgb(255, 255, 255) 0%, rgba(0, 0, 0, 0) 5%);
}
.step-line{
  background-size: 100%;
}

.btn-animation {
  transition: .2s ease-in-out 0s;
}
.btn-animation:hover{
  transform: scale(1.1);
}


img {
  transition: .2s ease-in-out 0s;
}
img:hover{
  transform: scale(1.1);
}

input:hover{
  outline: 1px solid #3563E9;
  outline-offset: 1px;
  box-shadow: #3563e9 0px 0px 6px 0px !important;
  transition: .2s ease-in-out 0s;
}

@media (max-width: 767px) {
  .home-block-text {
    word-break: break-word !important;
  }
}


@media (max-width: 1024px) {
  .project-img {
      height: 250px !important;
  }
}